body {
  font-family: Andruha-700, sans-serif;
}

ul {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* --------------------HEADER-------------------- */

.header {
  background-color: gray;
}
.header-navigation {
}
.header-list {
}
.header-item {
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #ffffff;
}

/* --------------------HERO-------------------- */

.hero {
  background-color: gray;
}

.hero-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
}
.hero-title {
  font-weight: 800;
  font-size: 48px;
  line-height: 1.33;
  text-align: center;
  color: #ffffff;
}
.hero-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
}

/* --------------------DOING-------------------- */

.doing-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(53 / 36);
  text-align: center;
  color: #323232;
}
.doing-text {
  font-size: 16px;
  line-height: calc(25 / 16);
  text-align: center;
  color: #999999;
}
.doing-list {
}
.doing-item {
}
.doing-item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: calc(22 / 18);
  color: #000000;
}
.doing-item-text {
  font-size: 14px;
  line-height: calc(22 / 14);
  color: #999999;
}
.doing-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
}
